include bourbonRefills

mixin tos()
    div.tos
        p.title #{b7} 
        p #{b8} 
        p #{b9} 
        p #{b10} 
        p #{b11} 

mixin single(className)
    div(class= className)
        +gridlike('heroPanel')
        +gridItems('importantInfo')
        div.grid-items
            div.traderpic.grid-item.grid-item-bigger
                a(href="#{tradingLink}")
                    p  #{trading}
                br
                img.trader(src='http://pics.ebay.com/aw/pics/trading_assistant2_88x33.gif' width=88 height=33  vspace=5)
            div.appletC.grid-item.grid-item-bigger #{applet}
                object( classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="511" height="0" id="MSCMaps" align="")
                param(name="movie" value="http://www.mystoremaps.com/flash/MyStoreMaps/MSCMaps.swf?SELLERID=734031&MOVIEPATH=http://www.mystoremaps.com/flash/MyStoreMaps/")
                param(name="quality" value="high")
                param(name="bgcolor" value="#FFFFFF")
                embed(swliveconnect="true" name="MSCMaps" src="http://www.mystoremaps.com/flash/MyStoreMaps/MSCMaps.swf?SELLERID=734031&MOVIEPATH=http://www.mystoremaps.com/flash/MyStoreMaps/" quality="high" bgcolor="#FFFFFF"  width="511" height="401" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer")
        +tosGrid('tos')
    +footer
