mixin frameX(text)
	p #{text} 

mixin list
	ul
		li foo
		li bar
	
mixin boilerplate(boilerC)
	div(class= boilerC)
		p.title #{b1}
		p.title #{b2}   
		p #{b3} 
			a(href='#{feedbackButton}') View Feedback Here
		p.title #{b4} 
		p.title #{b5} 
		p #{b6} 
		p.title #{b7} 
		p #{b8} 
		p #{b9} 
		p #{b10} 
		p #{b11} 
		p.title #{b12} 
		p #{b13} 
		p.title #{b14} 
		p #{b15} 
		p.title #{b16} 
		p #{b17} 
		p.title #{b18} 
		p #{b19} 
		p.title #{b20} 
		p #{b21} 
		p.title #{b22} 
		p #{b23} 
		p.title #{b24} 
		p #{b25} 
		p.title #{b26} 
		p #{b27} 
		p.title #{b28} 
		p #{b29} 


mixin single(className)
	div(class= className)
		img.logoC(src='#{logo}')
		img.bookC(src='#{book}')
		div.welcomeC 
			p.welcomeTitle #{welcomeTextTitle}
			p #{welcomeTextBody}
		div.yqzplugC
			p #{yqzplug}
				a.listings(href='#{yqzother}')  Click Here
		div.importantC
			div.titleC #{title} 
			div.subtitleC #{subtitle}
			div.descC #{description}
		ul.picsC  
			img.picsi(src='#{pics}')
		div.factsC
			div.facts #{facts}
			div.factss1 #{factss1}
			a.auctionsline(href='http://www.ebay.com/usr/estateauctioninc') #{auctionsline}
			div.years #{years}
		img.trader(src='http://pics.ebay.com/aw/pics/trading_assistant2_88x33.gif' width=88 height=33  vspace=5)
		div.appletC #{applet}
			object( classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="511" height="401" id="MSCMaps" align="")
				param(name="movie" value="http://www.mystoremaps.com/flash/MyStoreMaps/MSCMaps.swf?SELLERID=734031&MOVIEPATH=http://www.mystoremaps.com/flash/MyStoreMaps/")
				param(name="quality" value="high")
				param(name="bgcolor" value="#FFFFFF")
				embed(swliveconnect="true" name="MSCMaps" src="http://www.mystoremaps.com/flash/MyStoreMaps/MSCMaps.swf?SELLERID=734031&MOVIEPATH=http://www.mystoremaps.com/flash/MyStoreMaps/" quality="high" bgcolor="#FFFFFF"  width="511" height="401" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer")
		+boilerplate('boilerC')
			
			
